
/*  = Demo only
---------------------------*/ 
/* - @import url(https://fonts.googleapis.com/css?family=Lato|Lobster); - */
body{background: #dedfc399;width:450px;margin: 2px auto;}html,body,.btn,h2,h3,h4{font-family:'Lato', sans-serif;}h1{color:#ECF0F1;font-family:'Lobster', cursive;text-shadow:0 3px 3px #1ABC9C,0 6px 5px #2C3E50;position:relative;}h1:before{content:"B";position:absolute;top:0;left:0;color:#4DCEB4;margin:0 auto;text-align:center;}.btn{display:block;background:#16a085;color:#ECF0F1;width:100%;outline:none;border:none;padding:0.5em 1em;cursor:pointer;font-size:1em;}.row-r{letter-spacing:-0.2em;*letter-spacing:normal;word-spacing:-0.1em;}.box{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;}.box{width:100%;}.full{display:block;width:97%;margin-bottom:0.1em;padding:0.3em;}










/*  = Skin
------------------------------*/
/* share links block */
.shareMe {
  background: #1abc9c;
  border-top: 2px solid #16a085;
} 
.shareMe li a { color: #ecf0f1;}
.shareMe li a:hover,
.shareMe li a:active { color: #34495e;}

/* biruTabs block */
.biruTabsBox{
  background:#ecf0f1;
  box-shadow: 0 6px 3px -6px #000; 
}
.tabCaption{
  background:#ecf0f1;
  color:#2c3e50;
}
/* tabs buttom */
.tabs {
  background: #ECF0F1;
  color:#16a085;
  border-bottom: 2px solid #16a085;
}

.tab.active{
  background:#1abc9c;
  color: #ecf0f1;
}




/*  = BiruTabs basic
------------------------------*/
/* share links block */
.shareMe {
  list-style-type: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  padding: 0;
} 
.shareMe li {
  display: inline-block;
  margin-left: 0.5em;
}
.shareMe li a {
  text-decoration: none;
  display: block;
  overflow: hidden;
  padding: 0.5em;
  transition:color 0.8s ease;
}

/* biruTabs block */
.biruTabsBox{border-radius:4px;}
.tabs {
  text-align: center;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
}

.tab {
  display: inline-block;
  line-height: 1.5em;
  z-index: 1000;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;  
}
/* tabs buttom */
.tab.active{
  transition:background 1s ease;
}
.tabImg{ 
  height:200px;
  display:block;
  width:100%;
}
.tabCaption{
  padding:0.5em;
  z-index:999999;
}
.biruTab {
  position: relative;
  padding-top: 2em;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}
.biruTab ul,
.biruTab ol {
  margin: 0;
  padding:0;
}
.biruTab ul {
  list-style: none;
  width: 100%;
  height: 100%;
}
.biruTab ul li {
  position:relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;   
  padding: 0; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
